# Ortam değişkenleri (Neon DB şifresi)
.env

# Python önbellek ve geçici dosyalar
__pycache__/
*.pyc
*.csv
.vscode/

# PyInstaller derleme çıktıları
build/
dist/
*.spec
CS2_Market_Analyzer.exe
scratch/
